
<html>
    <head>
        <title> Book Gen </title>
        <meta author> Sibel Hassan </meta>
    </head>
    <style type="text/css">
        .btn {
            background-color:skyblue;
            cursor:pointer;
            padding: 15px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 50px;
            width: 50%;
        }
    </style>
    <body style="text-align: center; background-color: slategrey; font-family: 'Lucida Console', 'Courier New', monospace; ">
        <h1 style= "text-align: center; font-size:45px;"><u> Book Generator </u></h1>
        <nav style="background: black; padding: 15px; font-size:16px;">
            <a style="color:white;margin-right:40px;" href="{{url_for('home')}}">Home</a>
            <a style="color:white;margin-right:40px;" href="{{url_for('Previous')}}">View previous books</a>
=
        </nav>
        <br/> <br/> <br/> <br/> <br/>
        <a href="{{url_for('Generate')}}" class="btn">Generate Book</a>
    </body>
    {% block body%}
    {% endblock body %}
</html>